<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Manager</title>
</head>
<body>
    <h1>Sample Manager</h1>
    <h2>Viruses</h2>

    <h2>Add Samnples</h2>
    <form action="/addSample" method="POST">
        <input type="text" placeholder="type" name="type">
        <input type="text" placeholder="Lot Number" name="lotNumber" id="">
        <input type="text" placeholder="Recommended Dilution"  name="recommendedDilution" id="">
        <input type="text" placeholder="Status" name="status">
        <input type="text" placeholder="Vendor" name="vendor" id="">
        <input type="date" placeholder="Harvest Date" name="harvestDate" id="">
        <input type="date" placeholder="Expiration Date" name="expirationDate">
        <input type="text" placeholder="Volume Per Tube" name="volume" id="">
        <input type="text" placeholder="Dilution Factor" name="dilutionFactor" id="">
        <input type="text" placeholder="Location" name="location" id="">
        <input type="submit" value="">
    </form>
    <script src-'js/main.js'></script>
</body>
</html>
